<% category_name = device&.category&.name %>

<div class="w-[200px] h-[140px] flex-shrink-0 bg-[#f4f6fb] border-2 border-[#4182fa] rounded-2xl p-6 flex flex-col items-center justify-between text-center hover:border-[#2563eb] hover:bg-[#f4f6fb] transition-all group shadow-lg">
  
  <div class="w-14 h-14 mt-2 flex items-center justify-center bg-[#c7d2fe] rounded-xl group-hover:bg-[#4182fa]/20 transition-colors">
    <i class="fas fa-<%= device_icon_class(category_name) %> text-3xl text-[#4182fa]/60 group-hover:text-[#4182fa]"></i>
  </div>

  <div class="flex-1"></div>

  <div class="w-full mb-1">
    <span class="block text-[10px] font-bold text-[#4182fa] uppercase tracking-widest mb-1 leading-none">
      <%= device&.brand_name.presence || "BRAND NAME" %>
    </span>

    <span class="block text-sm font-black text-[#1f2937] leading-tight px-2 break-words">
      <%= device&.name.presence || "Device Name"%>
    </span>
  </div>
</div>