.myPage {
  max-width: 1200px;
  margin: 32px auto 0;
  padding: 0 24px;
}

.myPage-profile {
  position: relative;
}

.myPage-user {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  margin-top: -110px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.myPage-user-image {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.myPage-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.myPage-profile-bg {
  height: 230px;
  border-radius: 18px;
  overflow: hidden;
}

.profile-bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.myPage-user-basicInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.myPage-user-nickname {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.myPage-user-usertag {
  margin-top: 4px;
  font-size: 14px;
  color: #666;
}

.myPage-user-bio {
  margin-top: 16px;
  min-height: 120px;
  background: #f2f2f2;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.6;
  max-width: 55%;
}

.myPage-user-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-bottom: 12px;
}

.myPage-user-actionButton {
  margin-top: 0px;
}

.myPage-user-actionButton a {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 6px;
  background: #fff;
  border: 1.5px solid #ccc;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  line-height: 1;
  transition: 0.2s ease;
}

.myPage-user-actionButton a:hover {
  background: #f5f5f5;
  border-color: #bbb;
}

